/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 Oct, 2023, 5:23:51 PM
    Author     : nikhil
*/


.bg-custom
{
    background-color:#ededed;
}
.navbar .nav-item .nav-link:hover
{
    background-color: #007bff;
    color: white;
    border-radius: 6px;
}
